.AvailabilityChiTietPage {
  height: 132px;
  background-color: var(--sub-orange);
}
.AvailabilityChiTietPage .right-side {
  border: 1px solid var(--main-orange);
}

@media only screen and (max-width: 1023.98px) {
  .AvailabilityChiTietPage .title--section--5 {
    font-size: 24px;
    line-height: 24px;
  }
}