.BannerVanPhongTronGoi .banner img {
  width: 100%;
  height: 545px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.BannerVanPhongTronGoi .banner-content {
  display: flex;
  justify-content: center;
  padding: 0 8%;
}
.BannerVanPhongTronGoi .banner-content .banner-text {
  color: white;
  padding: 40px 30px;
  background: rgba(37, 68, 53, 0.9);
  border-radius: 12px;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1023.98px) {
  .BannerVanPhongTronGoi .banner img {
    max-height: 400px;
    min-height: 140px;
    height: auto;
  }
  .BannerVanPhongTronGoi .banner-content .banner-text {
    padding: 20px;
  }
}
@media only screen and (max-width: 767.98px) {
  .BannerVanPhongTronGoi .banner-content .banner-text {
    padding: 12px;
    transform: translateY(-20%);
  }
  .BannerVanPhongTronGoi .banner-content {
    padding: 0 4%;
  }
}