.bannerHomePage .item-footer {
  display: flex;
  justify-content: end;
  margin-top: 24px;
}
.bannerHomePage .item-footer p {
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.bannerHomePage .item-footer p:nth-child(1) {
  padding-right: 15px;
}
.bannerHomePage .item-footer p:nth-child(2) {
  border-left: 2px solid black;
  padding-left: 15px;
}
.bannerHomePage .item-footer button svg {
  width: 28px;
  height: -moz-fit-content;
  height: fit-content;
}
.bannerHomePage .ant-carousel .slick-dots {
  display: none !important;
}
.bannerHomePage .item-info-text a {
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #949494;
}
.bannerHomePage .item-info-text a:hover {
  color: #605f5f !important;
}
.bannerHomePage .item-info-icon {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}