.BannerLienHePage .banner img {
  width: 100%;
  height: 545px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.BannerLienHePage .contact-info {
  height: 308px;
}
.BannerLienHePage .contact-info .items {
  position: relative;
  transform: translateY(-50%);
}
.BannerLienHePage .contact-info svg {
  width: 84.43px;
  height: 84.34px;
  color: var(--main-orange);
}
.BannerLienHePage .contact-info svg path {
  width: 100%;
}
.BannerLienHePage .contact-info .title--section--4 {
  line-height: 36px;
  font-weight: 700;
}
.BannerLienHePage .contact-info .text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
.BannerLienHePage .contact-info .address .icon {
  position: relative;
}
.BannerLienHePage .contact-info .address .icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 52px;
  height: 5px;
  background: var(--main-orange);
  transform: translateX(-50%);
}
.BannerLienHePage .contact-info .email {
  border-left: 1px solid rgb(255, 216, 187);
  border-right: 1px solid rgb(255, 216, 187);
}

@media only screen and (max-width: 767.98px) {
  .BannerLienHePage .banner {
    padding: 0;
  }
  .BannerLienHePage .banner img {
    height: 220px;
  }
  .BannerLienHePage .contact-info {
    height: unset;
  }
  .BannerLienHePage .contact-info .items {
    padding: 16px 13px;
    transform: translateY(-30%);
  }
  .BannerLienHePage .contact-info svg {
    width: 60px;
    height: 60px;
  }
  .BannerLienHePage .contact-info .email {
    border: unset;
  }
  .BannerLienHePage .contact-info .title--section--4 {
    font-size: 18px;
    line-height: 27px;
  }
  .BannerLienHePage .disc .title--section--2 h3 {
    font-size: 28px;
    line-height: 42px;
  }
  .BannerLienHePage .disc p {
    text-align: left;
    font-size: 16.5px;
    line-height: 24.5px;
  }
}