@media only screen and (max-width: 767.98px) {
  .DacDiemVanPhongTronGoi .title--section--2 h3 {
    font-size: 28px;
    line-height: 42px;
    padding: 0;
    font-weight: 700;
  }
  .DacDiemVanPhongTronGoi .title--section--4 {
    font-size: 18px;
    line-height: 18px;
  }
}