.DatLichChiTietPage .FormLienHeModal .main-button {
  background-color: var(--main-green);
  width: 273px;
}
.DatLichChiTietPage .disc p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

@media only screen and (max-width: 1023.98px) {
  .DatLichChiTietPage .hotline a {
    font-size: 19px;
    line-height: 35px;
  }
  .DatLichChiTietPage .disc p {
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0em;
    text-align: left;
  }
}