.DinhNghiaVanPhongTronGoi .title {
  font-weight: 600;
}
.DinhNghiaVanPhongTronGoi .content {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 1023.98px) {
  .DinhNghiaVanPhongTronGoi .title--section--1 {
    font-size: 28px;
    line-height: 42px;
  }
  .DinhNghiaVanPhongTronGoi p {
    font-size: 16.5px;
    line-height: 24.75px;
  }
}