.doiTacSection {
  padding: 195px 32%;
  background-image: url("../public/img/img-doi-tac/Rectangle 18.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.doiTacSection .title--section--2 {
  color: var(--main-text-black);
}
.doiTacSection .title--section--2 h3 {
  font-weight: 500;
}

@media only screen and (max-width: 1535.98px) {
  .doiTacSection {
    padding: 195px 25%;
  }
}
@media only screen and (max-width: 1023.98px) {
  .doiTacSection {
    padding: 115px 6%;
  }
}