.DoiTacVanPhongTronGoi .carouselPartner button {
  width: 40px;
  height: 30px;
}
.DoiTacVanPhongTronGoi .carouselPartner button svg {
  width: 100%;
  height: 100%;
}
.DoiTacVanPhongTronGoi .carouselPartner .item {
  padding: 10px;
  aspect-ratio: 1/1;
  display: flex !important;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  filter: grayscale(1);
  transition: all 0.3s;
}
.DoiTacVanPhongTronGoi .carouselPartner .item img {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.3s;
}
.DoiTacVanPhongTronGoi .carouselPartner .item:hover {
  filter: grayscale(0);
}
.DoiTacVanPhongTronGoi .carouselPartner .item:hover img {
  background-color: #fff;
}

@media only screen and (max-width: 767.98px) {
  .DoiTacVanPhongTronGoi .title--section--2 h3 {
    font-size: 28px;
    line-height: 42px;
  }
}