footer {
  padding-top: 36px;
  padding-bottom: 40px;
  background-color: var(--main-green);
}
footer p {
  color: white;
}
footer .footer__logo {
  border-bottom: 1px solid var(--main-orange);
  padding-bottom: 32px;
  height: -moz-max-content;
  height: max-content;
}
footer .footer__logo img {
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .content__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-bottom: 20px;
}
footer .content__disc {
  height: -moz-max-content;
  height: max-content;
  align-items: center;
}
footer .content__disc .disc__text:hover a {
  color: var(--main-orange);
}
footer .content__disc .disc__text a {
  transition: all 0.3s;
}
footer .disc__icon {
  width: -moz-max-content;
  width: max-content;
  height: 32px;
  position: relative;
  display: flex;
  align-items: end;
}
footer .disc__icon svg {
  width: -moz-max-content;
  width: max-content;
  height: 26.67px;
  -o-object-fit: contain;
     object-fit: contain;
  color: var(--main-orange);
  stroke-width: 0.7px;
}
footer .under-img::after {
  content: "";
  height: 3px;
  background-color: var(--main-orange);
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 0;
}
footer .outline-none path:first-child {
  stroke-width: 0;
}
footer .stroke-27 svg {
  stroke-width: 2.7px;
}
footer .disc__text {
  height: -moz-max-content;
  height: max-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
footer .social_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--main-orange);
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social_icon a {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  color: white;
}
footer .social_icon a svg {
  width: 22px;
  height: 21px;
}
footer .social_icon a svg path {
  width: 100%;
}
footer .social_icon .ytbIcon svg {
  width: 27px;
  height: 26px;
}

@media only screen and (max-width: 1023.98px) {
  footer .footer__logo {
    border-bottom: none;
    padding-bottom: 0;
  }
  footer .content__title {
    font-size: 18px;
  }
  footer .disc__icon svg {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (max-width: 767.98px) {
  footer {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 479.98px) {
  footer .fbIcon svg {
    width: 32px;
    height: 25px;
  }
}