.FormLienHeModal {
  font-family: "Roboto", sans-serif;
}

.iconImportant {
  color: var(--main-orange);
}

label {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.ant-modal-footer .ant-btn:nth-child(1), .ant-modal-footer .ant-btn:nth-child(2) {
  display: none;
}

.ant-modal .ant-modal-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}

.ant-modal-body input.border {
  border: 1px solid rgba(0, 0, 0, 0.24);
}
.ant-modal-body input:focus {
  border-color: var(--main-orange) !important;
  box-shadow: 0 0 0 1px var(--main-orange);
}
.ant-modal-body textarea:focus {
  border-color: var(--main-orange) !important;
  box-shadow: 0 0 0 1px var(--main-orange);
}

.ant-modal {
  width: -moz-max-content !important;
  width: max-content !important;
}
.ant-modal .ant-modal-content {
  min-width: 630px;
  width: -moz-max-content;
  width: max-content;
}

@media only screen and (max-width: 767.98px) {
  .ant-modal {
    width: 100% !important;
  }
  .ant-modal .ant-modal-content {
    min-width: unset;
    width: 100%;
  }
}