header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
header button svg {
  color: var(--main-orange);
}
header .nav-btn {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  display: none;
}
header .nav-btn svg {
  width: 28px;
  height: 28px;
}
header nav a {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-text-black);
  transition: all 0.6s;
}
header nav a svg {
  width: 28px;
  height: 28px;
  transition: all 0.6s;
}
header nav a:hover {
  color: var(--main-orange);
}
header nav a:hover svg {
  color: var(--main-orange);
}
header nav .phone-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--main-orange);
  padding: 6px;
}
header nav .phone-icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  color: white;
}
header nav .phone-text {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-orange);
  border-radius: 8px;
  background: #ededed;
  padding: 8px 11px;
}

.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100px;
}

.logo {
  height: 68px;
  width: 20%;
  max-width: 255px;
}

.logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Large Screen  */
/* Laptop Screen  */
@media only screen and (max-width: 1535.98px) {
  .logo {
    width: 14%;
  }
}
/* desktop :992px. */
@media only screen and (max-width: 1279.98px) {
  header nav a {
    font-size: 12px;
  }
  header nav .phone-text {
    font-size: 13px;
  }
}
/* Tablet :768px. */
@media only screen and (max-width: 1023.98px) {
  .header-container {
    padding-top: 44px;
    padding-bottom: 16px;
    height: 128px;
  }
  .logo {
    min-height: 40px;
    width: auto;
  }
  header .nav-btn {
    display: flex;
    justify-content: end;
  }
  header .nav-close-btn {
    padding-bottom: 31px;
    border-bottom: 1px solid rgba(37, 68, 53, 0.5);
    margin-bottom: 16px;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-100vh);
    background-color: white;
    justify-content: start;
    padding: 20px 20px 0 20px;
    flex-direction: column;
  }
  header nav a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    padding: 18px 0;
    font-weight: 500;
  }
  header .responsive_nav {
    transform: none;
  }
  header .phoneMobile {
    margin-top: 16px;
    border-top: 1px solid rgba(37, 68, 53, 0.5);
    padding-top: 40px;
    display: block;
    text-align: start;
  }
  header .phoneMobile span {
    display: block;
  }
  header .phoneMobileText {
    font-size: 18px;
    line-height: 22.5px;
  }
  header .phoneMobileText2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: var(--main-orange);
  }
}
/* Large Mobile :480px. */
@media only screen and (max-width: 767.98px) {
  header .phoneMobileText {
    font-size: 15px;
  }
  header .phoneMobileText2 {
    font-size: 20px;
    line-height: 20px;
  }
}
/* small mobile . */
@media only screen and (max-width: 479.98px) {
  .logo {
    width: 150px;
    height: 40px;
    max-width: unset;
  }
}