#homePage .chatLuong {
  height: 605px;
  background-image: url("../public/img/img-home/banner.png");
  background-size: cover;
  background-position: center;
}
#homePage .chatLuong h3 {
  color: white;
}
#homePage .timMatBang .title {
  color: var(--main-text-black);
}

@media only screen and (max-width: 767.98px) {
  #homePage .timMatBang .title--section--2 h3 {
    font-weight: 500;
  }
  #homePage .chatLuong {
    height: 452px;
  }
}