.ImageChiTietPage a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.ImageChiTietPage img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.ImageChiTietPage .img-2 a {
  width: 50%;
  height: 294px;
}
.ImageChiTietPage .ant-carousel .slick-next,
.ImageChiTietPage .ant-carousel .slick-prev {
  width: 60px;
  height: 60px;
  top: unset;
  background: #fff;
  right: 1%;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.ImageChiTietPage .ant-carousel .slick-next:hover,
.ImageChiTietPage .ant-carousel .slick-prev:hover {
  background-color: var(--main-orange);
}
.ImageChiTietPage .ant-carousel .slick-prev {
  left: unset;
  z-index: 1;
}
.ImageChiTietPage .ant-carousel .slick-prev {
  margin-right: 75px;
}
.ImageChiTietPage .slick-disabled {
  display: none !important;
}
.ImageChiTietPage .mainImg {
  max-width: 600px;
  margin: 0 auto;
}
.ImageChiTietPage div.slick-slide[data-index="0"] {
  max-width: 600px !important;
}

@media only screen and (max-width: 1023.98px) {
  .ImageChiTietPage img {
    width: 100%;
    height: 100%;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .ImageChiTietPage .img-2 a {
    height: 145px;
  }
}