.Item {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: all 0.5s;
  border-radius: 12px;
  overflow: hidden;
}
.Item .item-img img {
  width: 100%;
  height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.Item .address p {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--sub-text-gray);
}
.Item .price p span:nth-child(1) {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
.Item .price p span:nth-child(2) {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--sub-text-gray);
}
.Item:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

@media only screen and (max-width: 767.98px) {
  .Item .price p span:nth-child(1) {
    font-size: 15px;
    line-height: 22.5px;
  }
  .Item .price p span:nth-child(2) {
    font-size: 12px;
    line-height: 18px;
  }
}