.LienHeSearchPage .title .title--section--4 {
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  color: var(--main-text-black);
  text-transform: uppercase;
}
.LienHeSearchPage .text {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.LienHeSearchPage .contact {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.LienHeSearchPage .contact .FormLienHeModal {
  display: inline-block;
}
.LienHeSearchPage .contact .FormLienHeModal .main-button {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background-color: unset;
  padding: 0;
  color: var(--main-orange);
  text-decoration: underline;
}

@media only screen and (max-width: 1023.98px) {
  .LienHeSearchPage .title .title--section--4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  .LienHeSearchPage .contact {
    font-size: 20px;
  }
  .LienHeSearchPage .contact .FormLienHeModal .main-button {
    font-size: 20px;
  }
}