.MapChiTietPage {
  background-color: var(--sub-orange);
}
.MapChiTietPage iframe {
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .MapChiTietPage iframe {
    height: 350px;
  }
}