.ProductListLienHe .question p {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
}
.ProductListLienHe .hotline a span {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.ProductListLienHe .hotline a span:nth-child(1) {
  font-weight: 600;
}
.ProductListLienHe .hotline a span:nth-child(2) {
  font-weight: 400;
  text-decoration: underline;
}
.ProductListLienHe .lien-he .FormLienHeModal {
  display: inline-block;
}
.ProductListLienHe .lien-he .FormLienHeModal .main-button {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background-color: unset;
  padding: 0;
  color: var(--main-orange);
  text-decoration: underline;
}

@media only screen and (max-width: 1023.98px) {
  .ProductListLienHe .question p {
    font-weight: 600;
  }
  .ProductListLienHe .hotline a span {
    font-size: 20px;
    line-height: 30px;
  }
  .ProductListLienHe .hotline a span:nth-child(1) {
    font-weight: 600;
  }
  .ProductListLienHe .lien-he .FormLienHeModal .main-button {
    font-size: 20px;
    line-height: 30px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ProductListLienHe .hotline a span {
    font-size: 20px;
    line-height: 30px;
  }
  .ProductListLienHe .lien-he .FormLienHeModal .main-button {
    font-size: 20px;
    line-height: 30px;
  }
}