.ProductListSearch {
  position: relative;
  z-index: 25;
  transform: translateY(-80px);
}
.ProductListSearch filter-text input::-moz-placeholder {
  color: #c3c3c3;
}
.ProductListSearch filter-text input::placeholder {
  color: #c3c3c3;
}
.ProductListSearch .search-frame {
  width: 856px;
  padding: 48px 43px;
  background-color: white;
}
.ProductListSearch .search-frame .title h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.ProductListSearch .search-frame .filter .filter-text {
  border: 1px solid #949494;
  margin-bottom: 15px;
}
.ProductListSearch .search-frame .filter .filter-text .icon svg {
  width: 25px;
  height: 25px;
  color: #565656;
}
.ProductListSearch .search-frame .filter .filter-text .input {
  height: 100%;
}
.ProductListSearch .search-frame .filter .filter-text .input input {
  height: 100%;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
}
.ProductListSearch .search-frame .filter .filter-text .input input:focus-visible {
  outline: unset;
}
.ProductListSearch .search-frame .filter .filter-district {
  border: 1px solid #949494;
}
.ProductListSearch .search-frame .filter .filter-district p {
  font-size: 12px;
  line-height: 12px;
  color: var(--main-text-black);
}
.ProductListSearch .search-frame .filter .filter-district .ant-select-selection-item {
  font-size: 15px;
  letter-spacing: 0em;
  font-family: "Roboto", sans-serif;
}
.ProductListSearch .search-frame .filter .filter-district .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
}
.ProductListSearch .search-frame .filter .filter-district .ant-select-arrow {
  display: none;
}
.ProductListSearch .search-frame .filter .filter-district .ant-select-focused .ant-select-selector {
  border: none;
  box-shadow: none;
}
.ProductListSearch .select-item {
  border: 1px solid var(--sub-text-gray);
  cursor: pointer;
}
.ProductListSearch .select-item .title {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  margin-bottom: 6px;
  padding: 10px 12px 5px 12px;
}
.ProductListSearch .select-item .select-options {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.ProductListSearch .SelectQuan .SelectComponent .dropdown-content {
  width: -moz-max-content;
  width: max-content;
  grid-template-rows: repeat(8, minmax(0, 1fr));
  grid-auto-flow: column;
  display: grid;
  gap: 1rem;
  padding: 20px 25px 10px 25px;
}
.ProductListSearch .SelectQuan .SelectComponent .dropdown-content .dropdown-item {
  width: 100%;
}

@media only screen and (max-width: 1023.98px) {
  .ProductListSearch {
    padding: 0 5.5%;
    transform: translateY(-55px);
  }
  .ProductListSearch .SelectQuan .SelectComponent .dropdown-content {
    grid-auto-flow: unset;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    width: 100%;
  }
  .ProductListSearch .SelectQuan .mouseDownIcon,
  .ProductListSearch .SelectGia .mouseDownIcon,
  .ProductListSearch .SelectHang .mouseDownIcon {
    display: none;
  }
}
@media only screen and (max-width: 767.98px) {
  .ProductListSearch .search-frame {
    padding: 24px 12px;
  }
  .ProductListSearch .search-frame .title h3 {
    font-size: 24px;
    line-height: 24px;
  }
}
.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: 24px;
}