.ProductListChooseDistrict .ProductListChooseDistrictItem {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 0em;
  padding: 12px 20px;
  border-radius: 100px;
  border: 1px solid #bfbfbf;
  transition: all 0.5s;
}
.ProductListChooseDistrict .ProductListChooseDistrictItem:hover, .ProductListChooseDistrict .ProductListChooseDistrictItem.active {
  background-color: var(--main-orange);
  background-color: var(--main-orange);
  color: white;
}

.tabletView .SelectComponent {
  width: -moz-max-content;
  width: max-content;
  min-width: 126px;
  padding-top: 10px;
  border: 0.5px solid rgb(148, 148, 148);
}
.tabletView .SelectComponent .dropdown-content {
  width: -moz-max-content;
  width: max-content;
}