.ProductListEndPage {
  background: var(--sub-orange);
  text-align: center;
}
.ProductListEndPage .img .item-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  margin-top: 24px;
}
.ProductListEndPage .img img {
  width: 100%;
  height: 206px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media only screen and (max-width: 1023.98px) {
  .ProductListEndPage .disc p {
    font-size: 18px;
    line-height: 27px;
  }
  .ProductListEndPage .img .item-text {
    font-size: 18px;
    line-height: 27px;
  }
  .ProductListEndPage .img .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .ProductListEndPage .img .item-img {
    width: 100%;
    max-width: 500px;
  }
  .ProductListEndPage .img img {
    border-radius: 12px;
  }
}