.ant-carousel .slick-dots li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 0;
  background: var(--main-orange);
  border: 0;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s;
}

.ant-carousel .slick-dots li.slick-active {
  width: 12px;
}

.ant-carousel .slick-dots li.slick-active button {
  background: var(--main-orange);
  opacity: 1;
}

.ant-carousel .slick-dots-bottom {
  bottom: 0px;
}

.title--section--2 h3 {
  font-weight: 400;
  padding: 0 0.4rem;
}
.title--section--2 h3 span {
  font-weight: 800;
}

.quote-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}

.QuotesCarousel .title--section--2 h3 {
  font-size: 30px;
  line-height: 40px;
  font-style: italic;
}