.RenderListSearchPage {
  background-color: #fff;
}
.RenderListSearchPage .title p {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.RenderListSearchPage .render .RenderItem .img {
  display: flex;
  align-items: center;
}
.RenderListSearchPage .render .RenderItem .img img {
  width: 100%;
  height: 208px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.RenderListSearchPage .render .RenderItem .detail .detail-icon svg {
  width: 30px;
  height: 30px;
  color: var(--main-orange);
}
.RenderListSearchPage .render .RenderItem .detail .detail-info .name {
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  margin-bottom: 12px;
  color: var(--main-text-black);
}
.RenderListSearchPage .render .RenderItem .detail .detail-info .sub-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  letter-spacing: 0em;
  text-transform: uppercase;
}
.RenderListSearchPage .render .RenderItem .detail .detail-info .disc {
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
  letter-spacing: 0em;
  padding-right: 7px;
}
.RenderListSearchPage .render .RenderItem .map {
  position: relative;
  transition: all 0.5s;
}
.RenderListSearchPage .render .RenderItem .map:hover .overlay p,
.RenderListSearchPage .render .RenderItem .map:hover .overlay svg {
  color: var(--main-orange) !important;
  scale: 120%;
}
.RenderListSearchPage .render .RenderItem .map iframe {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.RenderListSearchPage .render .RenderItem .map .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 68, 53, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 10;
}
.RenderListSearchPage .render .RenderItem .map .overlay p {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  transition: all 0.5s;
}
.RenderListSearchPage .render .RenderItem .map .overlay svg {
  color: white;
  width: 18px;
  height: 18px;
  transition: all 0.5s;
}
.RenderListSearchPage .render .RenderItem {
  cursor: pointer;
}
.RenderListSearchPage .render .RenderItem .img {
  overflow: hidden;
}
.RenderListSearchPage .render .RenderItem .img img {
  transition: all 0.3s;
}
.RenderListSearchPage .render .RenderItem .detail .img {
  overflow: hidden;
}
.RenderListSearchPage .render .RenderItem .detail .img img {
  transition: all 0.3s;
}
.RenderListSearchPage .render .RenderItem .detail .detail-info .name {
  transition: all 0.3s;
}
.RenderListSearchPage .render .RenderItem:hover .img img {
  scale: 110%;
}
.RenderListSearchPage .render .RenderItem:hover .detail .img img {
  scale: 110%;
}
.RenderListSearchPage .render .RenderItem:hover .detail .detail-info .name {
  color: var(--main-orange);
}
.RenderListSearchPage .render .RenderItem2 .img img {
  height: 100%;
}
.RenderListSearchPage #myDIV {
  display: flex;
}
.RenderListSearchPage #myDIV .btn {
  transition: all 0.3s;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: 1px solid rgb(202, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
}
.RenderListSearchPage #myDIV .btn svg {
  color: rgb(202, 202, 202);
  width: 20px;
  height: 20px;
  transition: all 0.3s;
}
.RenderListSearchPage #myDIV .btn.active {
  border-color: var(--main-orange);
}
.RenderListSearchPage #myDIV .btn.active svg {
  color: var(--main-orange);
}

@media only screen and (max-width: 1279.98px) {
  .RenderListSearchPage .render .RenderItem2 .detail .detail-info .name {
    font-size: 23px;
  }
  .RenderListSearchPage .render .RenderItem .detail .detail-info .disc {
    padding-left: 10px;
  }
  .RenderListSearchPage .render .RenderItem2 .detail .detail-info .disc {
    padding-left: 0;
  }
}
@media only screen and (max-width: 1023.98px) {
  .RenderListSearchPage .render .RenderItem .img img {
    height: 451px;
  }
  .RenderListSearchPage .render .RenderItem .detail .detail-icon svg {
    width: 36px;
    height: 36px;
    transform: translateY(-10px);
  }
  .RenderListSearchPage .render .RenderItem .detail .detail-info .sub-title {
    font-weight: 600;
  }
  .RenderListSearchPage .render .RenderItem .detail .detail-info .disc {
    padding-right: 0;
  }
  .RenderListSearchPage .render .RenderItem2 .img img {
    height: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .RenderListSearchPage .render .RenderItem .img img {
    height: 350px;
  }
  .RenderListSearchPage .render .RenderItem .detail .detail-info .name {
    font-size: 20px;
    line-height: 20px;
  }
  .RenderListSearchPage #myDIV {
    display: none;
  }
}
@media only screen and (max-width: 479.98px) {
  .RenderListSearchPage .render .RenderItem .img img {
    height: 200px;
  }
}