.SelectComponent {
  font-family: "Roboto", sans-serif;
}
.SelectComponent .dropdown {
  width: 100%;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-bottom: 10px;
}
.SelectComponent .dropdown-content {
  position: absolute;
  top: 110%;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  width: 100%;
  border-radius: 12px;
  z-index: 100;
}
.SelectComponent .dropdown-content .dropdown-item {
  padding: 0px 15px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: left;
}
.SelectComponent .dropdown-content .dropdown-item:hover {
  background-color: var(--sub-orange);
}
.SelectComponent .titleRange p {
  color: grey;
  font-weight: 600;
}
.SelectComponent .priceRangeInput .field {
  border: 1px solid lightgray;
  padding: 5px 10px;
  width: 150px;
  border-radius: 7px;
}
.SelectComponent .priceRangeInput .separator {
  width: 31px;
  height: 1px;
  background: lightgrey;
}
.SelectComponent .priceRangeInput input.field {
  width: 100%;
}
.SelectComponent .slider {
  height: 5px;
  border-radius: 5px;
  background: #ddd;
  position: relative;
}
.SelectComponent .slider .progress {
  height: 5px;
  left: 0;
  right: 0;
  position: absolute;
  border-radius: 5px;
  background-color: var(--main-orange);
}
.SelectComponent .range-input {
  position: relative;
}
.SelectComponent .range-input input {
  position: absolute;
  top: -5px;
  height: 5px;
  width: 100%;
  background: none;
  -webkit-appearance: none;
  pointer-events: none;
}
.SelectComponent input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  -webkit-appearance: none;
  background-color: var(--main-orange);
  pointer-events: auto;
}
.SelectComponent.SelectRange .dropdown-content {
  width: 400px;
  padding: 25px 25px;
}

.ant-select-multiple .ant-select-selector {
  height: 43.6px;
  border-radius: 0px;
}

.ant-select-dropdown .ant-select-item {
  padding: 10px 12px;
  margin-bottom: 3px;
}

.ant-select-multiple .ant-select-selection-item {
  height: unset;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
}

.ant-select .ant-select-selector {
  border: 1px solid gainsboro !important;
}

.ant-select:hover .ant-select-selector {
  border-color: var(--main-orange) !important;
}

.ant-select-focused:where(.css-dev-only-do-not-override-w8mnev).ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  box-shadow: var(--main-orange);
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--sub-orange) !important;
}

@media only screen and (max-width: 1023.98px) {
  .SelectComponent .priceRangeInput .field {
    width: 40%;
    padding: 10px;
  }
  .SelectComponent.SelectRange .dropdown-content {
    width: 100%;
    padding: 25px;
  }
}