.ServiceHomePage .item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.ServiceHomePage .item:nth-child(1), .ServiceHomePage .item:nth-child(2), .ServiceHomePage .item:nth-child(3) {
  border-right: 1px solid var(--main-orange);
}
.ServiceHomePage .item-chi-tiet {
  transition: 0.4s;
}
.ServiceHomePage .item-chi-tiet a {
  transition: 0.4s;
}
.ServiceHomePage .item-chi-tiet:hover a {
  padding-right: 50px;
  padding-left: 50px;
}/*# sourceMappingURL=Service.css.map */