.ServiceHomePage .title--section--2 h3 {
  font-weight: 700;
}
.ServiceHomePage .item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
}
.ServiceHomePage .item:nth-child(1), .ServiceHomePage .item:nth-child(2), .ServiceHomePage .item:nth-child(3) {
  border-right: 1px solid var(--main-orange);
}
.ServiceHomePage .item-chi-tiet {
  transition: 0.4s;
}
.ServiceHomePage .item-chi-tiet a {
  transition: 0.4s;
}
.ServiceHomePage .item-chi-tiet:hover a {
  padding-right: 50px;
  padding-left: 50px;
}

@media only screen and (max-width: 1023.98px) {
  .ServiceHomePage .item:nth-child(2) {
    border-right: unset;
  }
  .ServiceHomePage .item:nth-child(3), .ServiceHomePage .item:nth-child(4) {
    margin-top: 60px !important;
  }
  .ServiceHomePage .item:nth-child(2), .ServiceHomePage .item:nth-child(4) {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 767.98px) {
  .ServiceHomePage .container-1 p {
    font-size: 16.5px;
    line-height: 24.75px;
  }
  .ServiceHomePage .item:nth-child(1), .ServiceHomePage .item:nth-child(3) {
    border-right: unset;
  }
  .ServiceHomePage .item:nth-child(3), .ServiceHomePage .item:nth-child(4) {
    margin-top: unset;
  }
  .ServiceHomePage .item:nth-child(2), .ServiceHomePage .item:nth-child(4) {
    padding-left: 0;
  }
  .ServiceHomePage .item-info {
    width: 100%;
  }
  .ServiceHomePage .item-chi-tiet {
    padding-top: 16px;
  }
}