.SoLieuLienHePage .item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.SoLieuLienHePage .item .disc {
  color: var(--main-text-black);
}
.SoLieuLienHePage .item .disc .num {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
}
.SoLieuLienHePage .item .disc .text {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

@media only screen and (max-width: 1023.98px) {
  .SoLieuLienHePage .item .disc .num {
    font-size: 38px;
    line-height: 38px;
  }
  .SoLieuLienHePage .item .disc .text {
    font-size: 18px;
    line-height: 18px;
  }
}