.TitleSearchPage {
  background-color: var(--sub-orange);
}
.TitleSearchPage .title--section--1 {
  line-height: 48px;
}
.TitleSearchPage .refine-result {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
}

@media only screen and (max-width: 1023.98px) {
  .TitleSearchPage .title--section--1 {
    font-size: 30px;
    line-height: 45px;
  }
}