.TuVanVanPhongTronGoi {
  height: 709px;
  background-image: url("../public/img/img-van-phong-tron-goi/Rectangle 60.jpg");
  background-size: cover;
  background-position: center;
}
.TuVanVanPhongTronGoi .title .title--section--3 {
  color: white;
}
.TuVanVanPhongTronGoi .content p {
  color: white;
  font-size: 15px;
  line-height: 15px;
}
.TuVanVanPhongTronGoi .content .hotline a {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-decoration: underline;
}

@media only screen and (max-width: 1023.98px) {
  .TuVanVanPhongTronGoi {
    height: unset;
    padding: 32px 20px;
  }
  .TuVanVanPhongTronGoi .content p {
    font-size: 15px;
    line-height: 22.5px;
  }
  .TuVanVanPhongTronGoi .container-1 {
    padding: 0;
  }
}