.DinhNghiaVanPhongTronGoi {
  .title {
    font-weight: 600;
  }
  .content {
    font-family: "Roboto", sans-serif;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .DinhNghiaVanPhongTronGoi {
    .title--section--1 {
      font-size: 28px;
      line-height: 42px;
    }
    p {
      font-size: 16.5px;
      line-height: 24.75px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
