.ImageChiTietPage {
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  .img-2 {
    a {
      width: 50%;
      height: 294px;
    }
  }
  .ant-carousel .slick-next,
  .ant-carousel .slick-prev {
    width: 60px;
    height: 60px;
    top: unset;
    background: #fff;
    right: 1%;
    bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    &:hover {
      background-color: var(--main-orange);
    }
  }
  .ant-carousel .slick-prev {
    left: unset;
    z-index: 1;
  }
  .ant-carousel .slick-prev {
    margin-right: 75px;
  }
  .slick-disabled {
    display: none !important;
  }
  .mainImg {
    max-width: 600px;
    margin: 0 auto;
  }
  div.slick-slide[data-index="0"] {
    max-width: 600px !important;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ImageChiTietPage {
    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .img-2 {
      a {
        height: 145px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
