.DacDiemVanPhongTronGoi {
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  .DacDiemVanPhongTronGoi {
    .title--section--2 h3 {
      font-size: 28px;
      line-height: 42px;
      padding: 0;
      font-weight: 700;
    }
    .title--section--4 {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
