header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  button {
    svg {
      color: var(--main-orange);
    }
  }
  .nav-btn {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    svg {
      width: 28px;
      height: 28px;
    }
  }
  nav {
    a {
      font-size: 15px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: center;
      color: var(--main-text-black);
      transition: all 0.6s;
      svg {
        width: 28px;
        height: 28px;
        transition: all 0.6s;
      }
      &:hover {
        color: var(--main-orange);
        svg {
          color: var(--main-orange);
        }
      }
    }
    .phone-icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: var(--main-orange);
      padding: 6px;
      svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
        color: white;
      }
    }
    .phone-text {
      font-size: 15px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: center;
      color: var(--main-orange);
      // display: flex;
      // align-items: center;
      border-radius: 8px;
      background: #ededed;
      padding: 8px 11px;
    }
  }
}
.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100px;
}

.logo {
  height: 68px;
  width: 20%;
  max-width: 255px;
}
.logo img {
  height: 100%;
  object-fit: contain;
}

// Responsive
/* Large Screen  */
@media only screen and (min-width: 1536px) {
}

/* Laptop Screen  */
@media only screen and (max-width: 1535.98px) {
  .logo {
    width: 14%;
  }
}

/* desktop :992px. */
@media only screen and (max-width: 1279.98px) {
  header {
    nav {
      a {
        font-size: 12px;
      }
      .phone-text {
        font-size: 13px;
      }
    }
  }
}

/* Tablet :768px. */
@media only screen and (max-width: 1023.98px) {
  .header-container {
    padding-top: 44px;
    padding-bottom: 16px;
    height: 128px;
  }
  .logo {
    min-height: 40px;
    width: auto;
  }
  header {
    .nav-btn {
      display: flex;
      justify-content: end;
    }
    .nav-close-btn {
      padding-bottom: 31px;
      border-bottom: 1px solid rgba(37, 68, 53, 0.5);
      margin-bottom: 16px;
    }
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      transform: translateY(-100vh);
      background-color: white;
      justify-content: start;
      padding: 20px 20px 0 20px;
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        line-height: 18px;
        padding: 18px 0;
        font-weight: 500;
      }
      flex-direction: column;
    }
    .responsive_nav {
      transform: none;
    }
    .phoneMobile {
      margin-top: 16px;
      border-top: 1px solid rgba(37, 68, 53, 0.5);
      padding-top: 40px;
      display: block;
      text-align: start;
      span {
        display: block;
      }
    }
    .phoneMobileText {
      font-size: 18px;
      line-height: 22.5px;
    }
    .phoneMobileText2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 20px;
      color: var(--main-orange);
    }
  }
}

/* Large Mobile :480px. */
@media only screen and (max-width: 767.98px) {
  header {
    .phoneMobileText {
      font-size: 15px;
    }
    .phoneMobileText2 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

/* small mobile . */
@media only screen and (max-width: 479.98px) {
  .logo {
    width: 150px;
    height: 40px;
    max-width: unset;
  }
}
