.InfoChiTietPage {
  .right-side {
    padding-right: 10%;
  }
  .title {
    .item-info-text {
      p {
        &:nth-child(2) {
          font-size: 15px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0.005em;
          text-align: left;
          color: #949494;
        }
      }
    }
    .item-info-icon {
      font-size: 30px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }

    .right-side {
      .title-disc {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--main-text-black);
      }
    }
  }

  .detail {
    .left-side {
      .sticky-banner {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
          rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }
      .price {
        p {
          font-size: 24px;
          line-height: 36px;
        }
      }
      .include {
        .include-item {
          display: flex;
          justify-content: left;
          align-items: center;
          text-align: left;
        }
        svg {
          color: #23a128;
          width: 20px;
          height: 20px;
        }
      }
      .hotline a {
        font-family: "Roboto", sans-serif;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
      }
      .tu-van {
        .FormLienHeModal {
          width: 100%;
          .main-button {
            width: 100%;
            background-color: white;
            border: 1px solid var(--main-orange);
            color: var(--main-orange);
            font-size: 17px;
            font-weight: 400;
          }
        }
      }
      .chuyen-vien p {
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
    .right-side {
      .info {
        .info-item {
          margin-top: 20px;
          display: flex;
          .icon {
            svg {
              width: 32px;
              height: 32px;
              color: var(--main-orange);
            }
          }
          .text {
            font-family: "Roboto", sans-serif;
            .icon-title {
              font-size: 17px;
              font-weight: bold;
              line-height: 26px;
              letter-spacing: 0em;
              text-align: left;
            }
            p {
              &:nth-child(2) {
                font-size: 15px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
                color: var(--sub-text-gray);
              }
            }
          }
        }
      }
      .info-area {
        .floor {
          p {
            &:nth-child(1) {
              font-size: 17px;
              font-weight: 600;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;
            }
            &:nth-child(2) {
              font-size: 17px;
              font-weight: 400;
              line-height: 34px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
  }
  .lienHeTNvaMBKD {
    .FormLienHeModal .main-button {
      background-color: var(--main-green);
      width: 273px;
      font-size: 17px;
      line-height: 1;
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .InfoChiTietPage {
    .right-side {
      padding: 0;
    }
    .title {
      .right-side {
        .title-disc {
          font-size: 15px;
          line-height: 22.5px;
        }
      }
    }
    .detail {
      .left-side {
        max-width: 500px;
        .price {
          p {
            font-size: 20px;
            line-height: 150%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .InfoChiTietPage {
    .title--section--4 {
      font-size: 18px;
      line-height: 150%;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
