.SoLieuLienHePage {
  .item {
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .disc {
      color: var(--main-text-black);
      .num {
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        font-weight: 300;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: center;
      }
      .text {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .SoLieuLienHePage {
    .item {
      .disc {
        .num {
          font-size: 38px;
          line-height: 38px;
        }
        .text {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
