.ant-pagination .ant-pagination-item-active a,
.ant-pagination .ant-pagination-item-active:hover a {
  color: var(--main-orange);
}
.ant-pagination .ant-pagination-item-active,
.ant-pagination .ant-pagination-item-active:hover {
  border-color: var(--main-orange);
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
