.ProductListRender {
  .title {
    .title-location {
      font-size: 30px;
      font-weight: 600;
      line-height: 30px;
    }
    .title-button {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0em;
      transition: all 0.2s;
    }
    .title-button {
      &:hover {
        color: var(--main-orange);
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ProductListRender {
    .list-items {
      .container-2 {
        padding: 0;
        padding-left: 5.5%;
        .ListItem {
          margin-left: -0.75rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .ProductListRender {
    .title {
      .title-location {
        font-size: 16px;
        line-height: 16px;
        font-weight: bold;
      }
    }
    .underline {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
