.BannerLienHePage {
  .banner {
    img {
      width: 100%;
      height: 545px;
      object-fit: cover;
      object-position: center;
    }
  }
  .contact-info {
    height: 308px;
    .items {
      position: relative;
      transform: translateY(-50%);
    }
    svg {
      width: 84.43px;
      height: 84.34px;
      color: var(--main-orange);
      path {
        width: 100%;
      }
    }
    .title--section--4 {
      line-height: 36px;
      font-weight: 700;
    }
    .text {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
    }
    .address {
      .icon {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 52px;
          height: 5px;
          background: var(--main-orange);
          transform: translateX(-50%);
        }
      }
    }
    .email {
      border-left: 1px solid rgba(255, 216, 187, 1);
      border-right: 1px solid rgba(255, 216, 187, 1);
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  .BannerLienHePage {
    .banner {
      padding: 0;
      img {
        height: 220px;
      }
    }
    .contact-info {
      height: unset;
      .items {
        padding: 16px 13px;
        transform: translateY(-30%);
      }
      svg {
        width: 60px;
        height: 60px;
      }
      .email {
        border: unset;
      }
      .title--section--4 {
        font-size: 18px;
        line-height: 27px;
      }
    }
    .disc {
      .title--section--2 {
        h3 {
          font-size: 28px;
          line-height: 42px;
        }
      }
      p {
        text-align: left;
        font-size: 16.5px;
        line-height: 24.5px;
      }
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
