.RenderListSearchPage {
  background-color: #fff;
  .title {
    p {
      font-size: 30px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
    }
  }
  .render {
    .RenderItem {
      .img {
        display: flex;
        align-items: center;

        img {
          width: 100%;
          height: 208px;
          object-fit: cover;
          object-position: center;
        }
      }
      .detail {
        .detail-icon {
          svg {
            width: 30px;
            height: 30px;
            color: var(--main-orange);
          }
        }
        .detail-info {
          .name {
            font-size: 28px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0em;
            margin-bottom: 12px;
            color: var(--main-text-black);
          }
          .sub-title {
            font-size: 15px;
            font-weight: 600;
            line-height: 22.5px;
            letter-spacing: 0em;
            text-transform: uppercase;
          }
          .disc {
            font-size: 15px;
            font-weight: 300;
            line-height: 22.5px;
            letter-spacing: 0em;
            padding-right: 7px;
          }
        }
      }
      .map {
        position: relative;
        transition: all 0.5s;
        &:hover {
          .overlay {
            p,
            svg {
              color: var(--main-orange) !important;
              scale: 120%;
            }
          }
        }
        iframe {
          width: 100%;
          height: 100%;
          transition: all 0.5s;
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(37, 68, 53, 0.8);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: all 0.5s;
          z-index: 10;
          p {
            color: white;
            font-family: Roboto, sans-serif;
            font-size: 15px;
            font-weight: 600;
            line-height: 15px;
            letter-spacing: 0em;
            transition: all 0.5s;
          }
          svg {
            color: white;
            width: 18px;
            height: 18px;
            transition: all 0.5s;
          }
        }
      }
    }
    .RenderItem {
      cursor: pointer;
      .img {
        overflow: hidden;
        img {
          transition: all 0.3s;
        }
      }
      .detail {
        .img {
          overflow: hidden;
          img {
            transition: all 0.3s;
          }
        }
        .detail-info {
          .name {
            transition: all 0.3s;
          }
        }
      }

      &:hover {
        .img {
          img {
            scale: 110%;
          }
        }
        .detail {
          .img {
            img {
              scale: 110%;
            }
          }
          .detail-info {
            .name {
              color: var(--main-orange);
            }
          }
        }
      }
    }
    .RenderItem2 {
      .img {
        img {
          height: 100%;
        }
      }
    }
  }
  #myDIV {
    display: flex;
    .btn {
      transition: all 0.3s;
      cursor: pointer;
      width: 28px;
      height: 28px;
      border: 1px solid rgba(202, 202, 202, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: rgba(202, 202, 202, 1);
        width: 20px;
        height: 20px;
        transition: all 0.3s;
      }
    }
    .btn.active {
      border-color: var(--main-orange);
      svg {
        color: var(--main-orange);
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
  .RenderListSearchPage .render .RenderItem2 .detail .detail-info .name {
    font-size: 23px;
  }
  .RenderListSearchPage .render .RenderItem .detail .detail-info .disc {
    padding-left: 10px;
  }
  .RenderListSearchPage .render .RenderItem2 .detail .detail-info .disc {
    padding-left: 0;
  }
}

@media only screen and (max-width: 1023.98px) {
  .RenderListSearchPage {
    .render {
      .RenderItem {
        .img {
          img {
            height: 451px;
          }
        }
        .detail {
          .detail-icon {
            svg {
              width: 36px;
              height: 36px;
              transform: translateY(-10px);
            }
          }
          .detail-info {
            .sub-title {
              font-weight: 600;
            }
            .disc {
              padding-right: 0;
            }
          }
        }
      }
      .RenderItem2 {
        .img {
          img {
            height: 100%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767.98px) {
  .RenderListSearchPage {
    .render {
      .RenderItem {
        .img {
          img {
            height: 350px;
          }
        }
        .detail {
          .detail-info {
            .name {
              font-size: 20px;
              line-height: 20px;
            }
          }
        }
      }
    }
    #myDIV {
      display: none;
    }
  }
}

@media only screen and (max-width: 479.98px) {
  .RenderListSearchPage {
    .render {
      .RenderItem {
        .img {
          img {
            height: 200px;
          }
        }
      }
    }
  }
}
