#homePage {
  .chatLuong {
    height: 605px;
    background-image: url("../public/img/img-home/banner.png");
    background-size: cover;
    background-position: center;
    h3 {
      color: white;
    }
  }
  .timMatBang {
    .title {
      color: var(--main-text-black);
    }
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  #homePage {
    .timMatBang {
      .title--section--2 {
        h3 {
          font-weight: 500;
        }
      }
    }
    .chatLuong {
      height: 452px;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
