.ServiceHomePage {
  .title--section--2 h3 {
    font-weight: 700;
  }
  .item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
  }
  .item {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-right: 1px solid var(--main-orange);
    }
  }
  .item-chi-tiet {
    transition: 0.4s;
    a {
      transition: 0.4s;
    }
    &:hover {
      a {
        padding-right: 50px;
        padding-left: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ServiceHomePage {
    .item {
      &:nth-child(2) {
        border-right: unset;
      }
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: 60px !important;
      }
      &:nth-child(2),
      &:nth-child(4) {
        padding-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .ServiceHomePage {
    .container-1 {
      p {
        font-size: 16.5px;
        line-height: 24.75px;
      }
    }
    .item {
      &:nth-child(1),
      &:nth-child(3) {
        border-right: unset;
      }
      &:nth-child(3),
      &:nth-child(4) {
        margin-top: unset;
      }
      &:nth-child(2),
      &:nth-child(4) {
        padding-left: 0;
      }
    }
    .item-info {
      width: 100%;
    }
    .item-chi-tiet {
      padding-top: 16px;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
