.FormLienHeModal {
  font-family: "Roboto", sans-serif;
}
.iconImportant {
  color: var(--main-orange);
}
label {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.ant-modal-footer {
  .ant-btn {
    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
  }
}

.ant-modal .ant-modal-title {
  font-size: 34px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: center;
}

.ant-modal-body {
  input.border {
    border: 1px solid rgba(0, 0, 0, 0.24);
  }
  input {
    &:focus {
      border-color: var(--main-orange) !important;
      box-shadow: 0 0 0 1px var(--main-orange);
    }
  }
  textarea {
    &:focus {
      border-color: var(--main-orange) !important;
      box-shadow: 0 0 0 1px var(--main-orange);
    }
  }
}

.ant-modal {
  width: max-content !important;
  .ant-modal-content {
    min-width: 630px;
    width: max-content;
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  .ant-modal {
    width: 100% !important;
    .ant-modal-content {
      min-width: unset;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
