.SelectSectionHomePage {
  height: 1129px;
  background-image: url("../public/img/img-home/Rectangle 4.jpg");
  background-position: center;
  background-size: cover;
  .disc p {
    font-size: 23px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.005em;
  }
  select {
    border: none;
    width: 305px;
    background-color: white;
    color: #565656;
    font-size: 16px;
    line-height: 24px;
    &:focus {
      box-shadow: none;
      border-color: 1px solid var(--main-orange);
    }
  }
}
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 100%;
}
.ant-select-single.ant-select-show-arrow .ant-select-selection-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  height: 100%;
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-dropdown .ant-select-item-option {
  height: 56px;
  display: flex;
  align-items: center;
}
.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(
    .ant-pagination-size-changer
  ):hover
  .ant-select-selector {
  &:hover {
    border: 1px solid var(--main-orange);
  }
}

.ant-select-focused.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border: 1px solid var(--main-orange);
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  background-color: var(--sub-orange);
}

.ant-select-single .ant-select-selector {
  border-radius: 0;
}
@media only screen and (max-width: 1535.98px) {
}
@media only screen and (max-width: 1023.98px) {
  .SelectSectionHomePage {
    height: 680px;
    .disc {
      p {
        font-size: 17px;
        line-height: 26px;
      }
    }
    .select-button-confirm {
      a {
        border-radius: 8px;
      }
    }
  }
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 8px;
  }
}
@media only screen and (max-width: 767.98px) {
}
@media only screen and (max-width: 479.98px) {
}
