.doiTacSection {
  padding: 195px 32%;
  background-image: url("../public/img/img-doi-tac/Rectangle 18.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title--section--2 {
    color: var(--main-text-black);
    h3 {
      font-weight: 500;
    }
  }
}

@media only screen and (min-width: 1537px) {
}

@media only screen and (max-width: 1535.98px) {
  .doiTacSection {
    padding: 195px 25%;
  }
}
@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .doiTacSection {
    padding: 115px 6%;
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
