.bannerHomePage {
  .item-footer {
    display: flex;
    justify-content: end;
    margin-top: 24px;
    p {
      font-size: 28px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      &:nth-child(1) {
        padding-right: 15px;
      }
      &:nth-child(2) {
        border-left: 2px solid black;
        padding-left: 15px;
      }
    }
    button {
      svg {
        width: 28px;
        height: fit-content;
      }
    }
  }
  .ant-carousel .slick-dots {
    display: none !important;
  }
  .item-info-text {
    a {
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0.005em;
      text-align: left;
      color: #949494;
      &:hover {
        color: #605f5f !important;
      }
    }
  }
  .item-info-icon {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
  }
}
