.DoiTacVanPhongTronGoi {
  .carouselPartner {
    button {
      width: 40px;
      height: 30px;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .item {
      padding: 10px;
      aspect-ratio: 1/1;
      display: flex !important;
      justify-items: center;
      align-items: center;
      overflow: hidden;
      filter: grayscale(1);
      transition: all 0.3s;
      img {
        background-color: #f3f3f3;
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: all 0.3s;
      }
      &:hover {
        filter: grayscale(0);
        img {
          background-color: #fff;
        }
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  .DoiTacVanPhongTronGoi {
    .title--section--2 h3 {
      font-size: 28px;
      line-height: 42px;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
