.AvailabilityChiTietPage {
  height: 132px;
  background-color: var(--sub-orange);
  .right-side {
    border: 1px solid var(--main-orange);
  }
}

@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .AvailabilityChiTietPage {
    .title--section--5 {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
