footer {
  padding-top: 36px;
  padding-bottom: 40px;
  background-color: var(--main-green);
  p {
    color: white;
  }
  .footer__logo {
    border-bottom: 1px solid var(--main-orange);
    padding-bottom: 32px;
    height: max-content;
  }
  .footer__logo img {
    height: 70px;
    object-fit: contain;
  }

  .content__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 20px;
  }
  .content__disc {
    height: max-content;
    align-items: center;
    .disc__text {
      &:hover {
        a {
          color: var(--main-orange);
        }
      }
      a {
        transition: all 0.3s;
      }
    }
  }

  .disc__icon {
    width: max-content;
    height: 32px;
    position: relative;
    display: flex;
    align-items: end;
    svg {
      width: max-content;
      height: 26.67px;
      object-fit: contain;
      color: var(--main-orange);
      stroke-width: 0.7px;
    }
  }
  .under-img {
    &::after {
      content: "";
      height: 3px;
      background-color: var(--main-orange);
      width: 100%;
      bottom: 0;
      position: absolute;
      left: 0;
    }
  }
  .outline-none {
    path {
      &:first-child {
        stroke-width: 0;
      }
    }
  }
  .stroke-27 {
    svg {
      stroke-width: 2.7px;
    }
  }
  .disc__text {
    height: max-content;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
  }
  .social_icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--main-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      width: max-content;
      height: max-content;
      color: white;
      svg {
        width: 22px;
        height: 21px;
        path {
          width: 100%;
        }
      }
    }
    .ytbIcon {
      svg {
        width: 27px;
        height: 26px;
      }
    }
  }
}
// Responsive
@media only screen and (max-width: 1535.98px) {
}
@media only screen and (max-width: 1279.98px) {
}
@media only screen and (max-width: 1023.98px) {
  footer {
    .footer__logo {
      border-bottom: none;
      padding-bottom: 0;
    }
    .content__title {
      font-size: 18px;
    }
    .disc__icon svg {
      width: 32px;
      height: 32px;
    }
  }
}
@media only screen and (max-width: 767.98px) {
  footer {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 479.98px) {
  footer .fbIcon {
    svg {
      width: 32px;
      height: 25px;
    }
  }
}
