.ProductListChooseDistrict {
 
  .ProductListChooseDistrictItem {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 0em;
    padding: 12px 20px;
    border-radius: 100px;
    border: 1px solid #bfbfbf;
    transition: all 0.5s;
    &:hover,
    &.active {
      background-color: var(--main-orange);
      background-color: var(--main-orange);
      color: white;
    }
  }
}
.tabletView {
  .SelectComponent {
    width: max-content;
    min-width: 126px;
    padding-top: 10px;
    border: 0.5px solid rgba(148, 148, 148, 1);
    .dropdown-content {
      width: max-content;
    }
  }
}
