.ProductListHeader {
  height: 215px;
  background-color: var(--main-green);
  padding-top: 48px;
  h2 {
    color: white;
    text-align: center;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ProductListHeader {
    height: 200px;
    h2 {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      line-height: 45px;
      padding: 0 5.5%;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .ProductListHeader {
    h2 {
      height: 64px;
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
