.GanDayChiTietPage {
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .GanDayChiTietPage {
    .container-2 {
      padding-right: 0;
      .ListItem {
        margin-left: -0.75rem;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
