.ProductListSearch {
  position: relative;
  z-index: 25;
  transform: translateY(-80px);
  filter-text {
    input {
      &::placeholder {
        color: #c3c3c3;
      }
    }
  }

  .search-frame {
    width: 856px;
    padding: 48px 43px;
    background-color: white;
    .title {
      h3 {
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 0em;
      }
    }
    .filter {
      .filter-text {
        border: 1px solid #949494;
        margin-bottom: 15px;
        .icon {
          svg {
            width: 25px;
            height: 25px;
            color: #565656;
          }
        }
        .input {
          height: 100%;
          input {
            height: 100%;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0em;
            &:focus-visible {
              outline: unset;
            }
          }
        }
      }
      .filter-district {
        border: 1px solid #949494;
        p {
          font-size: 12px;
          line-height: 12px;
          color: var(--main-text-black);
        }
        .ant-select-selection-item {
          font-size: 15px;
          letter-spacing: 0em;
          font-family: "Roboto", sans-serif;
        }
        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
          border: none;
        }
        .ant-select-arrow {
          display: none;
        }
        .ant-select-focused .ant-select-selector {
          border: none;
          box-shadow: none;
        }
      }
    }
  }
  .select-item {
    border: 1px solid var(--sub-text-gray);
    cursor: pointer;
    .title {
      font-family: Roboto, sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0em;
      margin-bottom: 6px;
      padding: 10px 12px 5px 12px;
    }
    .select-options {
      font-family: Roboto, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
  .SelectQuan {
    .SelectComponent {
      .dropdown-content {
        width: max-content;
        grid-template-rows: repeat(8, minmax(0, 1fr));
        grid-auto-flow: column;
        display: grid;
        gap: 1rem;
        padding: 20px 25px 10px 25px;
        .dropdown-item {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ProductListSearch {
    padding: 0 5.5%;
    transform: translateY(-55px);
    .SelectQuan {
      .SelectComponent {
        .dropdown-content {
          grid-auto-flow: unset;
          grid-template-rows: repeat(1, minmax(0, 1fr));
          width: 100%;
        }
      }
    }
    .SelectQuan,
    .SelectGia,
    .SelectHang {
      .mouseDownIcon {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .ProductListSearch {
    .search-frame {
      padding: 24px 12px;
      .title h3 {
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

@media only screen and (max-width: 479.98px) {
}

.ant-modal-confirm .ant-modal-confirm-body .ant-modal-confirm-title {
  font-size: 24px;
}
