.TuVanVanPhongTronGoi {
  height: 709px;
  background-image: url("../public/img/img-van-phong-tron-goi/Rectangle 60.jpg");
  background-size: cover;
  background-position: center;
  .title {
    .title--section--3 {
      color: white;
    }
  }
  .content {
    p {
      color: white;
      font-size: 15px;
      line-height: 15px;
    }
    .hotline {
      a {
        font-family: "Roboto", sans-serif;
        font-size: 24px;
        line-height: 24px;
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .TuVanVanPhongTronGoi {
    height: unset;
    padding: 32px 20px;
    .content {
      p {
        font-size: 15px;
        line-height: 22.5px;
      }
    }
    .container-1 {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
