.ProductListEndPage {
  background: var(--sub-orange);
  text-align: center;
  .img {
    .item-text {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      letter-spacing: 0em;
      margin-top: 24px;
    }
    img {
      width: 100%;
      height: 206px;
      object-fit: cover;
      object-position: center;
    }
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .ProductListEndPage {
    .disc {
      p {
        font-size: 18px;
        line-height: 27px;
      }
    }

    .img {
      .item-text {
        font-size: 18px;
        line-height: 27px;
      }
      .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .item-img {
        width: 100%;
        max-width: 500px;
      }
      img {
        border-radius: 12px;
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
