.TitleSearchPage {
  background-color: var(--sub-orange);
  .title--section--1 {
    line-height: 48px;
  }
  .refine-result {
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .TitleSearchPage .title--section--1 {
    font-size: 30px;
    line-height: 45px;
  }
}

@media only screen and (max-width: 767.98px) {
}

@media only screen and (max-width: 479.98px) {
}
