@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway-Black";
  src: url("../../public/font/Raleway-Black.woff2") format("woff2"),
    url("../../public/font/Raleway-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
.raleway-font {
  font-family: "Raleway-Black", sans-serif;
}

:root {
  --main-orange: #ff6e04;
  --sub-orange: #fff5ed;
  --main-green: #254435;
  --main-text-black: #3a3a3a;
  --sub-text-gray: #767676;
}

body {
  font-family: "Raleway", sans-serif;
  background: #f6f6f6;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
}

.main-button {
  font-size: 15px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  background-color: var(--main-orange);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  color: var(--main-text-black);
}

.title--section--1 {
  font-size: 48px;
  /* font-weight: 700; */
  line-height: 72px;
  letter-spacing: 0em;
}
.title--section--2 h3 {
  font-size: 36px;
  line-height: 54px;
  letter-spacing: 0em;
}
.title--section--3 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--main-text-black);
}

.title--section--4 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0em;
}
.title--section--5 {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
}
.lien-he-main-orange {
  color: var(--main-orange);
}

.text-orange {
  color: var(--main-orange);
}
.list-ol {
  display: flex;
  align-items: center;
}
.list-ol .num {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--main-orange);
  color: white;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
}
.list-ol .text {
  margin-left: 12px;
}
.text-and-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container-1 {
  padding: 0 17%;
  max-width: 1920px;
  margin: 0 auto;
}
.container-2 {
  padding: 0 10%;
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width: 1535.98px) {
  .container-1 {
    padding: 0 8%;
  }
  .container-2 {
    padding: 0 4%;
  }
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
  .container-2 {
    padding: 0 5.5%;
  }
  .container-1 {
    padding: 0 5.5%;
  }
  .title--section--1 {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0em;
  }
  p {
    font-size: 15px;
    line-height: 22.5px;
  }
  .title--section--2 h3 {
    font-size: 28px;
    line-height: 42px;
  }
  .title--section--5 {
    font-size: 30px;
    line-height: 45px;
  }
  .title--section--3 {
    font-size: 24px;
    line-height: 36px;
  }
}

@media only screen and (max-width: 767.98px) {
  .title--section--1 {
    font-size: 24px;
    line-height: 36px;
  }

  .title--section--2 h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .list-ol .num {
    width: 27px;
    min-width: 27px;
    height: 27px;
    line-height: 27px;
    font-size: 15px;
  }
  .title--section--4 {
    font-size: 20px;
    line-height: 20px;
  }
  .title--section--3 {
    font-size: 24px;
    line-height: 36px;
  }
  .text-and-img img {
    max-height: 450px;
  }
}
