.MapChiTietPage {
  background-color: var(--sub-orange);
  iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 1535.98px) {
}

@media only screen and (max-width: 1279.98px) {
}

@media only screen and (max-width: 1023.98px) {
}

@media only screen and (max-width: 767.98px) {
  .MapChiTietPage {
    iframe {
      height: 350px;
    }
  }
}

@media only screen and (max-width: 479.98px) {
}
